<!DOCTYPE html>
<html>
<head>
    <title>Home - Violence Prevention App</title>
</head>
<body>
    <h1>Welcome to the Violence Prevention App</h1>
    <nav>
        <ul>
            <li><a href="/educational">Educational Content</a></li>
            <li><a href="/map">Resource Map</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/predict_form">Make a Prediction</a></li>

        </ul>
    </nav>
</body>
</html>
